[Unit]
Description=Etherchain Lite
After=devchain.service

[Service]
WorkingDirectory=/root/etherchain-light
ExecStart=/usr/bin/npm run start
Restart=on-failure

KillSignal=SIGHUP

[Install]
WantedBy=default.target
